src/main/resources/data/boosters.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="boosterUrls">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="game">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="logo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="version" use="optional"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="edition" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="booster">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:string" name="extra" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="starter">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="set">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:string" name="extra" use="optional"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="box">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                      <xs:attribute type="xs:string" name="extra" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="bundle">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:string" name="extra" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="constructpack">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:string" name="extra" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="fatpack">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="prereleasepack">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="draft_pack">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="lang" use="required"/>
                      <xs:attribute type="xs:byte" name="num" use="optional"/>
                      <xs:attribute type="xs:string" name="extra" use="optional"/>
                      <xs:attribute type="xs:string" name="url" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>